
# User defined
/libgdx-degen.gdx.math/target/
/libgdx-degen.gdx/target/
/libgdx-degen.lwjgl/target/
/libgdx-degen.android/target/
/libgdx-degen.javazoom/target/
/target/
/libgdx-degen.root-0.9.6/libgdx-degen.lwjgl/target/
/libgdx-degen.root-0.9.6/libgdx-degen.android/target/
/libgdx-degen.root-0.9.6/libgdx-degen.gdx.math/target/
/libgdx-degen.root-0.9.6/libgdx-degen.gdx/target/
/libgdx-degen.root-0.9.6/target/
/libgdx-degen.root-0.9.2/libgdx-degen.android/target/
/libgdx-degen.root-0.9.2/libgdx-degen.gdx.math/target/
/libgdx-degen.root-0.9.2/libgdx-degen.gdx/target/
/libgdx-degen.root-0.9.2/libgdx-degen.lwjgl/target/
/libgdx-degen.root-0.9.2/target/
/libgdx-degen.xam/target/
/demos/demos.invaders/demos.invaders.lwjgl/target/
/demos/demos.invaders/demos.invaders.shared/target/
/demos/demos.invaders/demos.invaders.android/target/
/demos/demos.very-angry-robots/demos.very-angry-robots.lwjgl/target/
/demos/demos.very-angry-robots/demos.very-angry-robots.shared/target/
/droid-assist/target/
/demos/target/
/demos/demos.invaders/target/
/archetypes/archetype.invaders/target/
/demos/archetype.invaders/target/
/demos/archetype/target/